*{
    margin: 0px;
    padding: 0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
	background: rgb(244,244,244);
	background: radial-gradient(circle, rgba(244,244,244,1) 0%, rgba(187,214,241,1) 100%);
	animation: color-change-2x 2s linear infinite alternate both;
}

@keyframes color-change-2x {
	0% {
	background: #60d4ea;
	}
	100% {
	background: #557074;
	}
}
