$tama:100%;
$font:verdana;
$font2:sans-serif;
$font3:italic;
$color1: #60d4ea;
$color2:#557074;
$color3:#fcfcfc;
$color4:#0099CC;
$color5:aliceblue;
$color6:#5086c1;
$color7:#ff6961;
$color8:#c7f7ff;
$color9:#14376d;
$color10:#205ab4;
$color11:#F2F2F2;
$color12:black;
$tama-img:300px;
$pixel:200px