@import "partials/variables";

main{
    .grid-contenedor{
        margin-top:100px;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        justify-content:space-around;
        align-items:flex-end;
        align-content:flex-start;
        height:$pixel;
        }
    }


main{
    h2{
        text-align: center;
        margin-bottom: 50px;
    }
}     
main{
    .grid-contenedor2{
        display: grid;
        grid-template-columns: repeat(3, 33.20%);
        grid-template-rows: repeat(2, 400px);
        grid-template-areas: 
        "item-3 item-4 item-5" 
        "item-6 item-7 item-8";
        p{
            font-size: 25px;
            text-align: center;
            font-weight: bold;
            font-style: $font3;
            &:hover{
                height: 26px;
                width: 26px;
                color: $color7;
                margin-left: 43%;
            }
        }
    }
}        


@media screen and (max-width: 700px){
    main{
        .grid-contenedor{
            margin-bottom: 100px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }
}   
    main{
        .grid-contenedor2{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            img{
                display: flex;
                flex-direction: column;
                margin-left: 20%;
                p{
                    text-align: center;
                }
            }
        }
    }   
}  


@media screen and (min-width: 701px){
	.grid-contenedor2 img {
		margin-left: 30%;
	}
}